html {
  background: rgb(12, 21, 103);
}

p {
  color: white;
  font-size: 50px;
  margin-left: 50px;
}

h1 {
  color: white;
  margin-left: 50px;
  font-size: 50px;

}

h2{
  color: white;
  margin-left: 50px;
  font-size: 15px;
}
a {
  color: white;
  margin-left: 50px;
  font-size: 15px;
  text-decoration: none;
}

img {
  width: 100px;
  margin-left: 50px;
}

.image2 {
margin-left:0px;
}
